body {
  margin: 0;
  padding: 0;
}

#title {
  font-family: Arial, sans-serif;
  height: 40px;
  padding: 0px 5px 10px;
}

#map {
  position: absolute;
  top: 80px;
  bottom: 0;
  right: 0;
  left: 0;
}

.leaflet-marker-icon i.fa-number {
  font-size: 0.8rem !important;
}
